.header-wrap {
  background-color: #000;
  height: 70px;
  width: 100%;
}


.header {
  height: 100%;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  .menu-right {
    display: flex;
    align-items: center;
    a {
      margin-right: 25px;
    }
  }
}